body {
    background-color: #fff;
    color: #333;
    line-height: 1.5;
}

.root {
    width: 600px;
    margin: 50px auto;
}

.test {
    margin-top: 50px;
}

.desc {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
    margin-bottom: 5px;
}